<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__box">
        <img loading="lazy" src="/img/footer-logo.svg" class="image" width="132" height="35" alt="Logo">
        <p>Sign up for our newsletter to get latest news from us</p>
        <input type="text" placeholder="Enter your email">
        <button class="btn btn--red">Submit</button>
      </div>
      <div class="footer__box pl-32 sm:pl-16 xs:pl-0">
        <h5>Jump to</h5>
        <ul class="footer__list">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Case Studies</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<button id="mode" class="btn btn--red fixed right-2 bottom-2 text-sm">mode</button>
