<header class="header">
  <div class="container">
    <div class="header__inner">

      <!-- <a href="#"><img src="/img/logo.svg" alt="Logo"></a> -->
      <a href="#">
        <svg class="header__logo">
          <use xlink:href="/img/sprite.svg#logo"></use>
        </svg>
      </a>

      <nav class="nav sm:hidden">
        <ul class="nav__list">
          <li class="nav__item"><a href="#" class="nav__link">About</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Services</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Case Studies</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Careers</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
        </ul>
      </nav>

      <button class="burger hidden" data-burger>
        <span class="burger__line"></span>
      </button>

      <nav class="nav-mobile hidden" data-menu>
        <ul class="nav-mobile__list">
          <li class="nav-mobile__item"><a href="#" class="nav-mobile__link" data-menu-item>About</a></li>
          <li class="nav-mobile__item"><a href="#" class="nav-mobile__link" data-menu-item>Services</a></li>
          <li class="nav-mobile__item"><a href="#" class="nav-mobile__link" data-menu-item>Case Studies</a></li>
          <li class="nav-mobile__item"><a href="#" class="nav-mobile__link" data-menu-item>Careers</a></li>
          <li class="nav-mobile__item"><a href="#" class="nav-mobile__link" data-menu-item>Blog</a></li>
        </ul>
      </nav>

    </div>
  </div>
</header>
