<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TailwindCSS</title>

  <link rel="preload" href="fonts/RedHatDisplay-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/RedHatDisplay-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/RedHatDisplay-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/RedHatDisplay-Black.woff2" as="font" type="font/woff2" crossorigin>

  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">

  <script defer src="js/main.js"></script>
</head>
